@model GeneralModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-group row">
    <label asp-for="STIWithSTKParameter.CommodityCode" class="col-sm-4 form-label">Mal Kodu</label>
    <div class="col-sm-8">
        <input type="text" id="txtCommodityCode" class="form-control" asp-for="STIWithSTKParameter.CommodityCode" placeholder="Mal Kodu" />
        <span asp-validation-for="STIWithSTKParameter.CommodityCode" class="text-danger"></span>
    </div>
</div>
<div class="form-group row mt-3">
    <label asp-for="STIWithSTKParameter.StartDate" class="col-sm-4 form-label">Başlangıç Tarihi</label>
    <div class="col-sm-8">
        <input type="text" id="datepickerStartDate" class="form-control" asp-for="STIWithSTKParameter.StartDate" placeholder="Başlangıç Tarihi" />
        <span asp-validation-for="STIWithSTKParameter.StartDate" class="text-danger"></span>
    </div>
</div>
<div class="form-group row mt-3">
    <label asp-for="STIWithSTKParameter.EndDate" class="col-sm-4 form-label">Bitiş Tarihi</label>
    <div class="col-sm-8">
        <input type="text" id="datepickerEndDate" class="form-control" asp-for="STIWithSTKParameter.EndDate" placeholder="Bitiş Tarihi" />
        <span asp-validation-for="STIWithSTKParameter.EndDate" class="text-danger"></span>
    </div>
</div>

<div class="form-group mt-3 d-grid gap-2 col-4 mx-auto">
    <button type="submit" class="btn btn-primary" id="btnList">Listele</button>
</div>

<table class="table table-bordered table-hover table-responsive mt-3">
    <thead>
        <tr>
            <th>Sira No</th>
            <th>İşlem Türü</th>
            <th>Evrak No</th>
            <th>Miktar</th>
            <th>Tarih</th>
            <th>GirisMiktar</th>
            <th>CikisMiktar</th>
            <th>Stok</th>
        </tr>
    </thead>
    @foreach (var item in Model.STI)
    {
        <tbody>
            <tr>
                <td>@item.SequenceNo</td>
                <td>@item.TransactionType</td>
                <td>@item.DocumentNo</td>
                <td>@item.Quantity</td>
                <td>@item.Date</td>
                <td>@item.InputQuantity</td>
                <td>@item.OutputQuantity</td>
                <td>@item.Stock</td>
            </tr>
        </tbody>
    }
</table>

@section Scripts{
    <script type="text/javascript">
        $("#datepickerStartDate").datepicker();
        $("#datepickerEndDate").datepicker();

        function getSTIList() {
            var CommodityCode = $('#txtCommodityCode').val();
            var StartDate= $('#datepickerStartDate').val();
            var EndDate= $('#datepickerEndDate').val();
            $.ajax({
                type: "POST",
                url: "/STI/GetSTIByParameter",
                dataType: "json",
                data: { commodityCode: CommodityCode, startDate: StartDate, endDate: EndDate },
                success: function (response) {
                    alert('Success');
                },
                error: function (response) {
                    alert('Error' + response);
                }
            });
        }

        $('#btnList').click(function () {
            getSTIList();
        })

        $(document).ready(function () {
            //getSTIList();
        });
    </script>
}